<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <div class="d-flex align-items-center">
  <%= image_tag "Duck.png", class:"duck mr-2", alt: "duck logo" %>
  <a class="nav-title mr-3" href="/">TalkToDucky</a>
  </div>
  <button class="navbar-toggler dropdown" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto d-flex align-items-center ">
      <% if !user_signed_in? %>
        <li ><%= link_to "Sign up", new_user_registration_path, class:"nav-sign mr-3" %></li>
        <li ><%= link_to "Sign in", new_user_session_path, class:"nav-sign mr-3" %></li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item dropdown navbar-author" data-behaviour="notifications">
          <a class="nav-link dropdown-toggle nav-email" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell nav-sign" ><span data-behaviour="unread-count"></span></i></a>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item nav-sign mr-3" %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="notifs" data-behaviour="notification-items">

        </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
