.navbar {
  justify-content: space-between;
  background: #411f1f;
}

.is-valid{
  border-color: red !important;
}

button .dropdown {

}
nav a {
  font-weight: bold;
  &:hover {
    text-decoration: none !important;
  }
}

.dropdown-menu {
  background-color: #411f1f;
  border: none !important;
}

.dropdown-item {
  background-color: transparent !important;
  &:hover {
    font-weight: bold;
  }
}
.nav-email {
  color: white !important;
}

.nav-sign {
  color: white;
  font-weight: bold;
  &:hover {
    color: yellow;
  }
}
nav .nav-title  {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

nav li {
  color: white;
}

.duck {
  width: 100px;
  height: 100px;
}
@media(min-width: 1024px) {
  nav .navbar-author {
    // position: absolute;
    // right: 30px;
  }

}
@media(max-width: 1024px) {
  .duck {
  width: 50px;
  height: 50px;
}
}
