.navbar {
  justify-content: space-between;
  background: #411f1f;
}
button .dropdown {

}
nav a {
  color: white;
  font-weight: bold;
  &:hover {
    color:yellow;
    text-decoration: none;
  }
}


nav .nav-title  {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

nav li {
  color: white;
}

.duck {
  width: 100px;
  height: 100px;
}
@media(min-width: 1024px) {
  nav .navbar-author {
    position: absolute;
    right: 30px;
  }

}
@media(max-width: 1024px) {
  .duck {
  width: 50px;
  height: 50px;
}
}
